<div *ngIf="isVisible">
    <div class="container">
        <div class="product-list">
            <h3>Liste des matières disponibles</h3>
            <button (click)="openDialog(createNewMateriau())" class="ajouter">Ajouter</button>
            <input type="file" (change)="onFileSelected($event)" />
            <button (click)="uploadFile()">Upload File</button>
            <table>
                <thead>
                    <tr class="attributs">
                        <th class="nom">Nom</th>
                        <th class="epaisseur">Epaisseur</th>
                        <th class="Type">Type</th>
                        <th class="Brillance">Brillance</th>
                        <th class="Unité">Unité</th>
                        <th class="Caractéristique">Caractéristique</th>
                        <th class="Code de tarif">Code de tarif</th>
                        <th>Face option</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="materiaux$ | async as materiaux; else noData">
                        <tr *ngFor="let materiau of materiaux" class="attributs">
                            <td>{{ materiau.name }}</td>
                            <td>{{ materiau.thicknessOptions }}</td>
                            <td>{{ materiau.type }}</td>
                            <td>{{ materiau.brilliance }}</td>
                            <td>{{ materiau.unit }}</td>
                            <td>{{ materiau.characteristics }}</td>
                            <td>{{ materiau.codeTar }}</td>
                            <td>{{ materiau.faceOptions }}</td>

                            <td class="action-buttons">
                                <button (click)="updateMatiere(materiau)">Modifier</button>
                                <button *ngIf="materiau.id !== undefined"
                                    (click)="deleteMatiere(materiau.id)">Supprimer</button>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-template #noData>
                        <tr>
                            <td colspan="10">Aucun matériau disponible.</td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>
</div>