.nav-items {
  padding-top: 40px;
}

.nav-item {
  padding: 25px 50px;
  cursor: pointer;
  background-color: #060145;
  border-bottom: 1px solid #ccc;
}

.nav-item:hover {
  background-color: rgb(1, 38, 69);
}

.nav-item div {
  display: none; /* Hide the dropdown by default */
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nav-item div[ng-reflect-ng-if="true"] {
  display: block; /* Show the children when they should be visible */
}

.nav-child {
  margin-top: 10px;
  background-color: #e0e0e0;
  border: none;
  padding: 5px;
  cursor: pointer;
}

/* Responsive adjustments */
@media only screen and (max-width: 1300px) {
  .nav-item {
    padding: 25px 40px;
  }
  
  .nav-item span {
    display: none; /* Hide span in smaller screens */
  }
}
a {
  border: none;
  color: rgb(13, 13, 13);
  background-color: #060145;
}