<div class="product-form">
    <h2>Ajouter un nouveau matériau</h2>
    <form (ngSubmit)="submitForm()" #form="ngForm">
        <h2 mat-dialog-title>{{ data.materiau.id ? 'Edit Material' : 'Add Material' }}</h2>
        <mat-dialog-content>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="data.materiau.name" name="name" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Type</mat-label>
                <input matInput [(ngModel)]="data.materiau.type" name="type" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Thickness</mat-label>
                <input matInput [(ngModel)]="data.materiau.thicknessOptions" name="thickness" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Brilliance</mat-label>
                <input matInput [(ngModel)]="data.materiau.brilliance" name="brilliance" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Unit</mat-label>
                <input matInput [(ngModel)]="data.materiau.unit" name="unit" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Characteristics</mat-label>
                <input matInput [(ngModel)]="data.materiau.characteristics" name="characteristics" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Tariff Code</mat-label>
                <input matInput [(ngModel)]="data.materiau.codeTar" name="codeTar" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Face Options</mat-label>
                <input matInput [(ngModel)]="data.materiau.faceOptions" name="faceOptions" required>
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button (click)="closeDialog()">Cancel</button>
            <button mat-raised-button color="primary" type="submit">{{ data.materiau.id ? 'Update' : 'Add' }}</button>
        </mat-dialog-actions>
    </form>

</div>