<div class="product-form">
    <h2>Ajouter une nouvelle Forme</h2>
    <form (ngSubmit)="submitForm(nom.value, description.value, avatar.files ? avatar.files[0] : null)">

        <div>
            <label for="nom">Nom:</label>
            <input id="nom" name="nom" #nom required>
        </div>
        <div>
            <label for="description">Description:</label>
            <input id="description" type="text" name="description" #description required>
        </div>

        <div>
            <input type="file" id="avatar" name="avatar" #avatar accept="image/png, image/jpeg" />
        </div>
        <button type="submit">Ajouter</button>
        <button type="button" (click)="closeDialog()">Close</button>
    </form>
</div>