.main-container {
    display: flex;
    .side-nav {
      width: 350px;
      min-width: 230px;
      min-height: calc(100vh - 70px);
      background-color: #cd0429;
      color: #fff;
      
      box-shadow: 5px 5px 5px #939393;
      @media only screen and (max-width: 1300px) {
        width: 100px;
        min-width: 100px;
      }
    }
    .main {
      padding: 30px;
    }
  }
  .container{
    display:flex;
    justify-content: space-between;
  }
  .navbar {
    background-color: #ffffff; /* Dark blue background */
    padding: 0.5rem 1rem; /* Uniform padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Subtle shadow */
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.25rem;
    color: #000000 !important; /* White text for brand */
  }
  
  .navbar-nav {
    display: flex; /* Ensures items are lined up horizontally */
  }
  
  .nav-item {
    margin-right: 1rem; /* Space between nav items */
  }
  
  .nav-link {
    color: #000000 !important; /* White text for links */
    transition: color 0.3s; /* Smooth color transition */
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: #1abc9c !important; /* Teal on hover/focus */
  }
  
  /* Responsive adjustments */
  @media (max-width: 576px) {
    .navbar-nav {
      flex-direction: column; /* Stack items vertically on small screens */
    }
  
    .nav-item {
      margin-right: 0; /* No horizontal margin on small screens */
      margin-bottom: 0.5rem; /* Adds spacing between items */
    }
  }
  
  .main-container {
    display: flex;
    min-height: calc(100vh - 70px); /* Full height minus navbar */
  }
  
  